[submodule "submodules/GSL"]
	path = submodules/GSL
	url = https://github.com/Microsoft/GSL
[submodule "submodules/flat_hash_map"]
	path = submodules/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "submodules/robin-map"]
	path = submodules/robin-map
	url = https://github.com/Tessil/robin-map
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "submodules/gainput"]
	path = submodules/gainput
	url = https://github.com/jkuhlmann/gainput
[submodule "submodules/benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark
[submodule "submodules/libcuckoo"]
	path = submodules/libcuckoo
	url = https://github.com/efficient/libcuckoo
[submodule "submodule_tools/AFLplusplus"]
	path = submodule_tools/AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib
[submodule "submodules/readerwriterqueue"]
	path = submodules/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum
